---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import FastApi from "./icons/Fast.astro";
import LinkButton from "./LinkButton.astro";
import Flutter from "./icons/Flutter.astro";
import Firebase from "./icons/Firebase.astro";
import MongoDb from "./icons/MongoDb.astro";
import Flask from "./icons/Flask.astro";
import MySQL from "./icons/MySQL.astro";
const TAGS = {
    NEXT: {
        name: "Next.js",
        class: "bg-black text-white",
        icon: NextJS,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: Tailwind,
    },
    FLUTTER: {
        name: "Flutter",
        class: "bg-[#003159] text-white",
        icon: Flutter,
    },
    FIREBASE: {
        name: "Firebase",
        class: "bg-[#003159] text-white",
        icon: Firebase,
    },
    FASTAPI: {
        name: "FastApi",
        class: "bg-[#003159] text-white",
        icon: FastApi,
    },
    MONGODB: {
        name: "MongoDB",
        class: "bg-[#003159] text-white",
        icon: MongoDb,
    },
    FLASK: {
        name: "Flask",
        class: "bg-[#003159] text-white",
        icon: Flask,
    },
    GITHUB: {
        name: "GitHub",
        class: "bg-[#003159] text-white",
        icon: GitHub,
    },
    MYSQL: {
        name: "MySQL",
        class: "bg-[#003159] text-white",
        icon: MySQL,
    },
};
const CERTIFICATES = [
    {
        title: "FCE  B2 🇬🇧",
        company: "Cambridge University",
        date: " 2017",
        links: [
            {
                url: "https://photos.app.goo.gl/ZqyKhtzGKX32heXP7/",
                text: "",
            },
        ],
    },
    {
        title: "Power BI 📊",

        company: "Kinetic Training",
        date: "2022",
        links: [
            {
                url: "https://www.linkedin.com/posts/felipe-bursa_kineticbursafelipe-activity-6959868917842354177-OxQg?utm_source=share&utm_medium=member_desktop",
                text: "",
            },
        ],

        image: "public/logo_caja.png", // Aquí se ha cambiado la imagen
    },
    {
        title: "Micro Strategy 📊",

        company: "CIDS",
        date: "2021",
    },
    {
        title: "Dactylography ⌨️",

        company: "Colegio Gabriel Taborin.",
        date: "2016",
    },
];
---

<div class="grid grid-cols-2 md:grid-cols-2 gap-6">
    {
        CERTIFICATES.map(({ image, title, links, company, date }): any => (
            <article class="flex flex-col space-x-0 space-y-8 group">
                <div class="w-full">
                    <div class="border border-transparent hover:border-gray-300 rounded-lg bg-white dark:bg-gray-800 p-6 transition duration-300 ease-in-out">
                        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                            {title}
                        </h3>
                        <h4 class="text-xl font-semibold text-blue-600 dark:text-blue-300">
                            {company}
                        </h4>
                        <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">
                            {date}
                        </time>
                        <div class="flex flex-wrap mt-2">
                            <footer class="flex items-end justify-start mt-4 gap-x-4">
                                {links &&
                                    links.map((link) => (
                                        <LinkButton href={link.url}>
                                            <Link class="size-4" />
                                            {link.text}
                                        </LinkButton>
                                    ))}
                            </footer>
                        </div>
                    </div>
                </div>
            </article>
        ))
    }
</div>
