---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import FastApi from "./icons/Fast.astro";
import LinkButton from "./LinkButton.astro";
import Flutter from "./icons/Flutter.astro";
import Firebase from "./icons/Firebase.astro";
import MongoDb from "./icons/MongoDb.astro";
import Flask from "./icons/Flask.astro";
import MySQL from "./icons/MySQL.astro";
import Whatsapp from "./icons/whatsapp.astro";
import dynamo from "./icons/dynamo.astro";
import llama from "./icons/llamaindex.astro";
import chroma from "./icons/chroma.astro";

import node from "./icons/nodejs.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  FLUTTER: {
    name: "Flutter",
    class: "bg-[#003159] text-white",
    icon: Flutter,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#003159] text-white",
    icon: Firebase,
  },
  FASTAPI: {
    name: "FastApi",
    class: "bg-[#003159] text-white",
    icon: FastApi,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-[#003159] text-white",
    icon: MongoDb,
  },
  DYNAMODB: {
    name: "DynamoDb",
    class: "bg-[#003159] text-white",
    icon: dynamo,
  },
  FLASK: {
    name: "Flask",
    class: "bg-[#003159] text-white",
    icon: Flask,
  },
  GITHUB: {
    name: "GitHub",
    class: "bg-[#003159] text-white",
    icon: GitHub,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#003159] text-white",
    icon: MySQL,
  },
  NODEJS: {
    name: "NodeJs",
    class: "bg-[#003159] text-white",
    icon: node,
  },
  CHROMA: {
    name: "ChromaDb",
    class: "bg-[#003159] text-white",
    icon: chroma,
  },
  WHATSAPP: {
    name: "Whatsapp Api",
    class: "bg-[#003159] text-white",
    icon: Whatsapp,
  },
  LLAMAINDEX: {
    name: "Llama Index",
    class: "bg-[#003159] text-white",
    icon: llama,
  },
  
};

const TAG_COLORS = [
  "bg-blue-500",
  "bg-green-500",
  "bg-yellow-500",
  "bg-indigo-500",
  "bg-purple-500",
  "bg-pink-500",
  "bg-red-500",
  "bg-gray-500",
];
const PROJECTS = [
  {
    title: "FullStack Developer 🤖 🦙 💻",
    company: "Bircle.AI",
    date: "10/2023 - 5/2024",

    description:
      "As a Web Developer at Bircle.ia, I am involved in various projects utilizing technologies like Next.js, React, FastAPI, artificial intelligence (Llama index),DynamoDb , Chroma Db, integration with WhatsApp Api, and more.",
    links: [{ url: "https://bircle.ai", text: "Bircle Ai Web" }],
    image: "public/bircleAi.svg",
    tags: [
      TAGS.NEXT,
      TAGS.TAILWIND,
      TAGS.FASTAPI,
      TAGS.FIREBASE,
      TAGS.DYNAMODB,
      TAGS.GITHUB,
      TAGS.NODEJS,
      TAGS.LLAMAINDEX,
      TAGS.CHROMA,
      TAGS.WHATSAPP,
    ],
  },
  {
    title: "Database Administrator 📊 💾",

    company:
      "Research, Development and Transfer Center for Information Systems (CIDS)",
    date: "2020 – 2023",

    description:
      "During my time at CIDS, I went through 3 projects. I was the leader of the database area in the modernization project of the pension fund of Córdoba, using technologies such as Oracle, PL/SQL, Java, Angular, and more.",
    links: [{ url: "http://www.cids.frc.utn.edu.ar/", text: "CIDS" }],
    image: "public/logo_caja.png", // The image has been changed here
    tags: [TAGS.MYSQL, TAGS.GITHUB],
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  {
    PROJECTS.map(
      ({ image, title, description, tags, links, company, date }, index) => (
        <article class="flex flex-col space-x-0 space-y-8 group flex-grow">
          <div class="w-full">
            <div class="border border-transparent hover:border-gray-300 rounded-lg bg-white dark:bg-gray-800 p-6 transition duration-300 ease-in-out h-full">
              <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                {title}
              </h3>
              <h4 class="text-xl font-semibold text-blue-600 dark:text-blue-300">
                {company}
              </h4>
              <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">
                {date}
              </time>
              <div class="flex flex-wrap mt-2">
                <ul class="flex flex-wrap mb-2 gap-x-2 gap-y-2">
                  {tags.map((tag, index) => (
                    <li>
                      <span
                        class={`flex gap-x-2 rounded-full text-xs ${
                          TAG_COLORS[index % TAG_COLORS.length]
                        } text-white py-1 px-2`}
                      >
                        <tag.icon class="size-4" />
                        {tag.name}
                      </span>
                    </li>
                  ))}
                </ul>
                <div class="mt-2 text-gray-700 dark:text-gray-400">
                  {description}
                </div>
                <footer class="flex items-end justify-start mt-4 gap-x-4">
                  {links &&
                    links.map((link) => (
                      <LinkButton href={link.url}>
                        <Link class="size-4" />
                        {link.text}
                      </LinkButton>
                    ))}
                </footer>
              </div>
            </div>
          </div>
        </article>
      ),
    )
  }
</div>